.crypto-wrapper {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .crypto-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .crypto-title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
  }
  
  thead:hover{
    cursor: pointer;
  }
  .crypto-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    font-size: 1rem;
    color: #666;
  }
  
  .crypto-sort select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 1rem;
    color: #666;
  }
  
  .crypto-table {
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
  }
  
  .crypto-table table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .crypto-table th, .crypto-table td {
    padding: 10px;
    text-align: left;
  }
  
  .crypto-table th {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
    background-color: #fafafa;
    position: sticky;
    top: 0;
  }
  .crypto-table tbody tr {
    transition: background-color 0.2s ease;
  }
  
  .crypto-table tbody tr:hover {
    background-color: black;
    opacity: 80%;
  }
  
  .crypto-table tbody td {
    font-size: 1.1rem;
    color: white;
  }
  
  .crypto-table tbody td:first-child {
    font-weight: bold;
  }
  
  .crypto-search {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  .crypto-search input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 1rem;
    color: black;
  }
  
  .crypto-search button {
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .crypto-search button:hover {
    background-color: #3e8e41;
  }
  
  .name a{
    color: white;
    text-decoration: none;
  }
  
  .favorite-btn{
    background-color: rgb(95, 16, 95);
  }
  .favorite-btn:hover{
    background-color: rgb(136, 24, 136);
  }
  @media (max-width: 768px) {
    .crypto-table {
      overflow-x: auto;
      display: block;
      width: 100%;
    }
  
    .crypto-table table {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .crypto-title {
      font-size: 1.5rem;
    }
  
    .crypto-sort select {
      font-size: 0.9rem;
    }
  
    .crypto-table th {
      font-size: 0.8rem;
    }
  
    .crypto-table td {
      font-size: 0.9rem;
    }
  }
  