/* Add some padding and margin to the landing page */
.landing-page {
  padding: 30px;
  margin: 0 auto;
  max-width: 1200px;
}

/* Style the header section */
.header {
  text-align: center;
  margin-bottom: 40px;
  font-size: large;
  text-shadow: -5px 10px 4px rgba(0, 0, 0, 0.15);
  color: white;
}

.header {
  background: 50% 100% / 50% 50% no-repeat
  radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: reveal 3000ms ease-in-out forwards 200ms,
  glow 2500ms linear infinite 2000ms;

  
}  
@keyframes reveal {
  80%{
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

.top-cryptos{
  color: #fff;
  text-align: center;
  font-size: large;
  
}

.crypto-list{
  opacity: 80%;
  color: #fff;
  justify-content: center;
  text-align: center;
}

.crypto-body{
  border-top: #fff 1px solid;
  border-bottom: #fff 1px solid;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.crypto-information{
  padding: 10px;
}
.crypto-information h2{
  justify-content: center;
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
}

.crypto-information-left{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
.video{
  max-height: 500px;
  max-width: 1200px;
  border: #050505 1px solid;
  border-radius: 10px;
}
.crypto-information-left p{
  color: #fff;
  float: right;
  text-align: start;
  font-size: small;
  
}

.crypto-information-right{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  color: #fff;
}

.crypto-information-right p{
  color: #fff;
  float: left;
  text-align: start;
  font-size: small;
  justify-content: start;
}

.where-to-buy{
  color: #fff;
  text-align: center;
  font-size: large;
  padding-top: 20px;
}

.where-to-buy-links{
  display: inline-block;
  padding: 10px;
  color: #fff;
  text-align: center;
}

.where-to-buy-links a{
  color: #a564fa;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}