.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  
  width: 50%;
  margin: auto;
  color: white;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.profile-title {
  font-size: 36px;
  font-weight: bold;
  margin-left: 20px;
}

.profile-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 50px;
}

.profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 30px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}

.signed-in-as {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-email {
  font-size: 16px;
  margin-bottom: 20px;
}

.social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.social-media-links a {
  color: #fff;
  font-size: 24px;
  margin-right: 20px;
}

.social-media-links a:hover {
  color: #00acee;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #00acee;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0077b5;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-form h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.feedback-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-form textarea {
  width: 400px;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
}

.feedback-form button[type="submit"] {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #0077b5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedback-form button[type="submit"]:hover {
  background-color: #00acee;
}
